<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="accueil">
				<h1>PLOG</h1>
				<p class="description">LISTEZ VOS LOGS</p>
				<a class="btn btn-danger" href="/visiteur">Lire les derniers logs</a>
				<p></p>
				<a class="btn btn-default" href="/identification">Login</a>
			</div>
		</div>
	</div>
</div>