<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="section-visiteur">
				<h1>Liste des logs</h1>
	
				<% @logs.each do |log| %>
				 <h3><%= log.author %></h3>
				 <p><%= log.message %></p>
				<% end %>
		
				<div class="retour-accueil">
					<a href="/accueil">Retourner à la page d'accueil</a>
				</div>
			</div>
		</div>
	</div>
</div>
