body {
	background-color: #24334C;
}

p {
	font-size: 16px;
	color: #333331;
}

/*------------------------------------
		Page accueil
--------------------------------------*/
.accueil {
	background-color: #FFFFFF;
	text-align: center;
	margin-top: 100px;
}

.btn_acc {
	margin-bottom: 20px;
}

.accueil h1 {
	color: #34495E;
	padding-top: 30px;
	font-size: 100px;
}

.description {
	font-size: 18px;
	padding-bottom: 40px;
	font-style: italic;
}

/*------------------------------------
		Page visiteur
--------------------------------------*/
.section-visiteur {
	margin-top: 15px;
	background-color: #FFFFFF;
	padding: 10px;
}

.section-visiteur h1 {
	text-align: center;
}

.section-visiteur h3 {
	font-size: 18px;
	font-weight: bold;
}

.titre-visiteur {
	text-align: center;
}

.retour-accueil {
	text-align: center;
}

/*------------------------------------
		Page identification
--------------------------------------*/
.section-identification {
	margin-top: 100px;
	background-color: #FFFFFF;
}

.section-identification h2 {
	font-size: 31px;
	text-align: center;
	margin-bottom: 26px;
}

.retour-accueil {
	margin-bottom: 10px;
}

.formulaire {
	width: 200px;
	margin: auto;
}

.btn-connexion {
	display: block;
	width: auto;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
